<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/cloud-icon.png">
    <title>404</title>
</head>

<body>
    <div class="container">
        {{>header}}
        <p>{{missingPage}}</p>
        <img class="error" src="/img/404-error.jpg">
    </div>
    {{>footer}}
</body>

</html>