<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="icon" href="/img/cloud-icon.png">
    <title>About</title>
</head>

<body>
    <div class="container">
        {{>header}}
        <div class="about-content">
            <p>
                My name is Olabisi Odusanya, I am a Full-stack web development student and I have created this weather
                application
                to enable users get the weather forecast of any given city, around the world.

            </p>
            <p>My hobbies include travelling, cooking, dancing, listening to music and walking in the nature.</p>
            <img class="author" src="/img/Olabee-resized.png" alt="profile-photo" />
        </div>
    </div>
    {{>footer}}
</body>

</html>