<div class="flex-container">
    <h1>{{title}}</h1>




    <header>
        <ul class="li-flex">
            <li class="item navig">
                <a href="/">Weather</a>
            </li>
            <li class="item navig">
                <a href="/about">About Me</a>
            </li>
            <li class="item navig">
                <a href="/contact">Contact Us</a>
            </li>

        </ul>
    </header>
</div>